<!-- components/pagination.twig -->
<div class="content-container">

</div>
<div class="loader"></div>
<div class="pagination">
  <div class="pagination-inner">
    <div class="pagination-nav">
      <a class="pagination-prev" href="#" data-disabled="false"><span>Prev</span></a>
    </div>
    <div class="pagination-mobile">
      <strong class="pagination-mobile-current">1</strong>&nbsp;&nbsp;of&nbsp;
      <strong class="pagination-mobile-total">19</strong>
    </div>
    <div class="pagination-pages">
      <a href="#" data-current="true"><span class="sr-text">Page</span>1</a>
      <a href="#"><span class="sr-text">Page</span>2</a>
      <a href="#"><span class="sr-text">Page</span>3</a>
      <span class="pagination-pages-dots">...</span>
      <a href="#"><span class="sr-text">Page</span>19</a>
    </div>
    <div class="pagination-nav">
      <a class="pagination-next" href="#" data-disabled="false"><span>Next</span></a>
    </div>
  </div>
</div>
