// Pagination
//
// Markup: pagination.twig
//
// Styleguide Components.Pagination
$pager_bp: 8;

.pagination {

  &-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $header-font;
    width: 100%;
    padding: 0 20px 20px;

    @include from(7) {
      margin: 0 auto 40px;
    }

    @include from(10) {
      margin: 0 auto 60px;
    }

    @include from(13) {
      max-width: 1280px;
      padding: 0;
    }
  }

  &-nav {
    flex: none;
  }

  &-mobile,
  &-pages {
    flex: 1 1 auto;
    line-height: 46px;
    text-align: center;
    padding: 0 20px;
  }

  &-mobile {
    font-family: $body-text-font;
    @include rem(font-size, 15px);

    @include from($pager_bp) {
      display: none;
    }

    strong {
      color: primary-color(black);
    }
  }

  a,
  &-pages-dots {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: primary-color(white);
    color: primary-color(black);
    @include font-weight(semibold);
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50%;
    border-bottom: 0;

    &[data-current='true'] {
      background: primary-color(orange, shade1);
      color: primary-color(white);
      pointer-events: none;
    }

    &.pagination-prev,
    &.pagination-next {
      // @include eyebrow;
      display: block;
      position: relative;
      width: auto;
      color: primary-color(black);
      @include rem(font-size, 13px);
      line-height: 48px;

      @include hover {
        color: primary-color(orange, shade1);
        box-shadow: none;
      }

      &[data-disabled='true'] {
        opacity: 0;
        cursor: default;
        pointer-events: none;
      }
    }

    &.pagination-prev {
      padding-left: 30px;

      @include icon(caret-right) {
        position: absolute;
        top: 14px;
        left: 0;
        @include rem(font-size, 18px);
        transform: rotate(180deg);
      }
    }

    &.pagination-next {
      padding-right: 30px;

      @include icon(caret-right, after) {
        position: absolute;
        top: 14px;
        right: 0;
        @include rem(font-size, 18px);
      }
    }

    @include hover {
      box-shadow: inset 0 0 0 2px rgba(primary-color(orange, shade1), 1);
    }
  }

  &-pages {
    display: none;

    @include from($pager_bp) {
      display: block;
    }

    a {
      @include rem(font-size, 16px);
    }

    a,
    &-dots {
      margin: 0 2px;
    }

    &-dots {
      @include rem(font-size, 15px);
      pointer-events: none;
    }
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid firebrick;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
