// Grayscale Colors
//
// Color:
// primary-color(black)          : #000 - Black
// primary-color(gray, shade1)     : #333 - Dark Gray
// primary-color(gray)           : #666 - Gray
// primary-color(gray, tint1)    : #ccc - Light Gray
// primary-color(white)          : #fff - White
//
// Styleguide Colors.Grayscale Colors

// Primary Colors
//
// Color:
// primary-color(orange, shade1)   : #c3420b - Dark Orange
// primary-color(orange)         : #f2530f - Orange
// primary-color(orange, tint1)  : #f5763f - Light Orange
//
// Styleguide Colors.Primary Colors
$primarycolors: (
  white: (
    base: #fff
  ),
  black: (
    base: #000
  ),
  gray: (
    base: #666,
    tint1: #ccc,
    shade1: #333
  ),
  orange: (
    base: #f2530f,
    tint1: lighten(#f2530f, 10%),
    shade1: darken(#f2530f, 10%)
  )
);

// Secondary Colors
//
// Color:
// secondary-color(red, shade1)   : #cc0000 - Red - Shade 1
// secondary-color(red)         : #ff0000 - Red
// secondary-color(red, tint1)  : #ff3333 - Red - Tint 1
//
// Styleguide Colors.Secondary Colors
$secondarycolors: (
  red: (
    base: #f00,
    tint1: lighten(#f00, 10%),
    shade1: darken(#f00, 10%)
  )
);

// Social Media Colors
//
// Color:
// sm-color(facebook)    : #3b5998 - Facebook
// sm-color(twitter)     : #1da1f2 - Twitter
// sm-color(linkedin)    : #007bb5 - LinkedIn
// sm-color(youtube)     : #f00 - YouTube
// sm-color(instagram)   : #c32aa3 - Instagram
//
// Styleguide Colors.Social Media Colors
$socialmediacolors: (
  facebook:   #3b5998,
  twitter:    #1da1f2,
  linkedin:   #007bb5,
  youtube:    #f00,
  instagram:  #c32aa3
);
