.kss-markdown {
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 960px;
  padding: 16px;
  background: $white;
  margin-bottom: 45px;

  @include mq(min, 1100px) {
    padding: 35px;
  }

  ul,
  ol {

    li {

      &::before {
        display: none;
      }
    }
  }

  a,
  address,
  blockquote,
  dd,
  dl,
  fieldset,
  figure,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  ol,
  p,
  pre,
  table,
  ul {
    margin: 0;
    color: $black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.5;
  }

  a {
    color: $kss-primary;
    transition: .3s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      color: darken($kss-primary, 10%);
      text-decoration: underline;
    }
  }

  p {
    color: #9b9b9b;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $kss-primary;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: rem(16px);
  }

  h1 {
    font-size: rem(40px);
    font-weight: 300;

    &:first-child {
      display: none;
    }
  }

  h2 {
    font-size: rem(36px);
    font-weight: 300;
  }

  h3 {
    font-size: rem(20px);
  }

  h4 {
    font-size: rem(18px);
  }

  h5 {
    font-size: rem(16px);
  }

  h6 {
    font-size: rem(16px);
  }

  ol,
  p,
  pre,
  ul {
    margin-bottom: rem(24px);
    font-size: rem(16px);
  }

  ol,
  ul {
    padding-left: 40px;
    list-style-position: outside;
    font-size: rem(16px);
  }

  ul {
    list-style-type: disc;
  }

  audio,
  embed,
  img,
  object,
  video {
    max-width: 100%;
    display: block;
  }

  audio,
  canvas,
  img,
  video {
    vertical-align: middle;
  }

  hr {
    display: block;
    box-sizing: border-box;
    height: 1px;
    margin-top: rem(47px);
    margin-bottom: rem(48px);
    border: 0;
    border-top: 1px solid $gray;
    padding: 0;
  }

  pre,
  pre[class*='language-'] {
    overflow: auto;
    padding: 1em;
    background: #f5f5f5;
    color: #434343;

    code {
      padding: 0;
    }
  }

  code {
    background: #f5f5f5;
  }

  p,
  li {
    code {
      display: inline-block;
      padding: 2px 5px;
      color: $kss-primary;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #e0e0e0;
    width: 100%;
    margin-bottom: 40px;
    color: #434343;

    thead {
      background-color: #f5f5f5;
      text-align: left;
      vertical-align: bottom;
    }

    td,
    th {
      border: 1px solid #e0e0e0;
      font-size: inherit;
      margin: 0;
      overflow: visible; // to make ths where the title is really long work
      padding: .5em 1em;
    }
  }
}
