.kss-navigation {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  width: 85%;
  max-width: 270px;
  height: 100%;
  overflow-y: auto;
  color: $black;
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  transform: translateX(-100%);
  transition: transform .3s ease-out;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);

  @include mq(min, 1100px) {
    transform: translateX(0);
  }

  body.kss-state-active & { // sass-lint:disable-line force-element-nesting no-qualifying-elements
    transform: none;
  }

  &-header {
    padding: 0 20px;
    height: 195px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .kss-logo {
    flex: none;
    width: 120px;

    img {
      width: 100%;
    }
  }

  .kss-search {
    padding: 0 15px;
    margin-bottom: 15px;

    label {
      display: none;
    }

    input {
      color: #666;
      margin: 0;
      border: 1px solid #ccc;
      background: #fff;
      padding: 12px 15px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
      -webkit-appearance: none;
      transition: background-color .15s ease-in-out;

      &:focus {
        outline: none;
        background-color: #f7f7f7;
      }
    }

    .easy-autocomplete {
      position: relative;

      &-container {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 2;
      }

      ul {
        background: #fff;
        border: 1px solid #ccc;
        border-top: 0;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .25);
        padding: 12px 0;
        list-style: none;
        display: none;

        li {
          padding: 0 15px;
          line-height: 24px;

          &.selected {
            background: #eee;
          }
        }
      }

      .eac-item {
        a {
          display: block;
          line-height: 24px;
          color: #434343;
          font-size: 14px;
        }

        b {
          color: $kss-primary;
        }

        span {
          color: #666;
          font-size: 12px;
          line-height: 24px;
        }
      }
    }
  }
}

.kss-nav {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 10px 0 20px;
  list-style-type: none;

  @include mq(min, 1024px) {
    padding-top: 0;
  }

  & > &-item {
    border-top: 1px solid #eee;

    &:last-of-type {
      border-bottom: 1px solid #eee;
    }
  }
}

.kss-nav-item {

  a {
    display: block;
    box-sizing: border-box;
    color: #434343;
    font-size: rem(15px);
    font-weight: 500;
    text-decoration: none;
    transition: background .2s ease-in-out;
    padding: 10px 20px 14px;
    border-left: 3px solid transparent;

    &:hover,
    &:focus,
    &:active {
      background: #f3f5f7;
      color: $kss-primary;
      border-color: $kss-primary;
    }

    &.kss-state-active {
      background: #f3f5f7;
      color: $kss-primary;
      border-color: $kss-primary;

      &:hover,
      &:focus {
        background: #fff;
      }

      &:hover {

        .kss-nav-name {
          transform: none;
        }
      }
    }
  }
}

.kss-nav-ref {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}

.kss-nav-name {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transition: transform .3s;
}

.kss-nav-subnav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #f3f5f7;

  .kss-nav-item {

    a {
      padding-left: 50px;

      &:hover,
      &:focus,
      &.kss-state-active {
        background: #fff;
      }
    }
  }
}
