.kss-colors-container {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 0;
  margin: 0;

  @include mq(min, 568px) {
    margin-left: -15px;
  }
}

.kss-color {
  width: 100%;
  background: $white;
  box-shadow: 1px 1px 4px 0 rgba(0, 0 , 0, .1);
  margin: 15px auto 0;

  @include mq(min, 568px) {
    width: calc(50% - 15px);
    margin: 15px 0 0 15px;
  }

  @include mq(min, 767px) {
    width: calc(100% / 3 - 15px);
  }

  @include mq(min, 1023px) {
    width: calc(25% - 15px);
  }

  @include mq(min, 1100px) {
    width: calc(50% - 15px);
  }

  @include mq(min, 1199px) {
    width: calc(100% / 3 - 15px);
  }

  @include mq(min, 1399px) {
    width: calc(25% - 15px);
  }

  @include mq(min, 1699px) {
    width: calc(20% - 15px);
  }

  &-swatch {
    height: 200px;
  }

  &-description {
    padding: 8px 10px;
  }

  &-name {
    font-weight: 700;
    font-size: em(22px);
    display: block;
    margin-bottom: 5px;
    color: #434343;
  }

  &-var,
  &-code {
    display: block;
    min-height: 22px;
    font-size: em(16px);
    line-height: 1.2;
    color: #666;
  }

  &-label {
    font-weight: 700;
    color: #434343;
  }

}
