// primary theme color of the styleguide.
$kss-primary: #ed3224;
$kss-link-hover: #c02b33;

$kss-header-color: $kss-primary;

// secondary colors.
$black:           #222;
$gray:            #ccc;
$white:           #fff;
$charcoal:        #333;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
