@import 'breakpoint';

[class*=' kss-'],
[class^='kss-'] {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;

  &::before,
  &::after {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
  }
}

@import 'settings';
@import 'tools';
@import 'prism';

@import 'kss-body';
@import 'kss-header';
@import 'kss-navigation';
@import 'kss-markdown';
@import 'kss-documentation';

@import 'kss-colors';
@import 'kss-icons';
@import 'toggle';
