{% extends "layout.twig" %}

{% set page_title = "Pager" %}
{% block header %}

{% endblock %}
{% block body %}
  <!-- index.twig -->
  <div class="centered-container">
    <h1>Simple Pager Demo</h1>

    {% include 'components/pagination/pagination.twig' %}
  </div>
{% endblock %}
